* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  --grey: hsl(240, 9%, 89%);
  --black: hsl(240, 6%, 13%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url(../images/background.svg) no-repeat center/cover;
  width: 100vw;
  min-height: 840px;
  height: 100vh;
  min-width: 358px;
}

#faixa {
  display: none;
}

.container {
  margin-top: 10.5rem;
  width: 358px;
  height: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  text-align: center;
  color: var(--grey);
  padding-top: 50px;
}

.avatar {
  position: relative;
  width: 160px;
  margin: 0 auto 0;
  height: 184px;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 160px;
  height: 184px;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

#socialLinks {
  margin-bottom: 20px;
}

ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;

  margin-top: 4rem;
}


@media (min-width: 720px) {
  main {
    background: url(../images/luzes.svg) no-repeat center/cover;
    background-color: black;
  }

  #faixa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
   
  #faixa span {
    background: url(../images/quebra.svg);
    position: absolute;
    width: 80px;
    height: 8px;
    top: 9.425rem;
  }

  .container {
    border-radius: 0.25rem;
    margin-top: -30px;
    background: url(../images/background-desktop.svg) center;
    height: 540px;
    background-color: #202024;
    padding: 20px;
    padding-top: 72px;
  }

  ul {
    margin-top: 20px;
    background-color: #202024;
  }

}